<launch>
	<env name="GAZEBO_MODEL_PATH" value="$(find teknofest_simulator)/models" />
	<arg name="gui" default="true" />
	<arg name="paused" default="false" />
	<arg name="set_timeout" default="false" />
	<arg name="timeout" default="0.0" />
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find teknofest_simulator)/world/pool.world" />
		<arg name="paused" value="$(arg paused)" />
		<arg name="use_sim_time" value="true" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="headless" value="false" />
		<arg name="debug" value="false" />
		<arg name="verbose" value="true" />
	</include>
	<!-- Spawn A Mission Gate -->
	<node name="a_mission_spawn" pkg="gazebo_ros" type="spawn_model" args="-file $(find teknofest_simulator)/models/a_mission/a_mission.sdf -sdf
        -x 0 -y 2.5 -z -1.9 -model a_mission" output="screen" />
	<!-- Spawn B Mission Circles -->
	<node name="circles_spawn" pkg="gazebo_ros" type="spawn_model" args="-file $(find teknofest_simulator)/models/circles/circles.sdf -sdf
        -x 0 -y 0 -z -1.9 -model circles" output="screen" />
	<!-- Spawn C Mission Pole -->
	<node name="c_mission_spawn" pkg="gazebo_ros" type="spawn_model" args="-file $(find teknofest_simulator)/models/c_mission/c_mission.sdf -sdf
        -x 0 -y -4.35 -z -2.08 -model c_mission" output="screen" />
	<!-- Spawn C Mission Ball -->
	<node name="c_mission_ball_spawn" pkg="gazebo_ros" type="spawn_model" args="-file $(find teknofest_simulator)/models/ball/ball.sdf -sdf
        -x 0 -y -4.35 -z -1.26 -model ball" output="screen" />
	<group if="$(arg set_timeout)">
		<include file="$(find uuv_assistants)/launch/set_simulation_timer.launch">
			<arg name="timeout" value="$(arg timeout)" />
		</include>
	</group>
	<include file="$(find uuv_assistants)/launch/publish_world_ned_frame.launch" />
</launch>
